/* Header Types */
.body {
    background-color: #e6e6e6;
}
.p {
    color: #444;
}
.header {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
}
.small_header {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
}
/*Collapsibles*/
.collapsible {
    background-color: #d9d9d9;
    font-family:'Times New Roman', Times, serif;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    border: #ababab solid;
    outline: none;
    font-size: large;
}
.active, .collapsible:hover {
    background-color: #b3b3b3;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    color:#444;
    font-family:'Times New Roman', Times, serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    border: #ababab solid;
  }

/* General Images*/
.img_center {
    float:left;
    margin-right: 2%;
    margin-bottom: 5px;
    width: 35%;
    border: black;
    border-style: solid;
    clear: both;
}
/* About Me Image */
.self_img {
    float: left;
    margin-right: 2%;
    margin-bottom: 5px;
    width: 30%;
    height: auto;
    border: black;
    border-style: solid;
    clear: both;
}

/* Different Size Devices */
@media screen and (max-width:800px) {
    .img_center {
        float: left;
        margin-right: 2%;
        margin-bottom: 5px;
        width: 43%;
        border: black;
        border-style: solid;
    }
    .self_img {
        float:left;
        margin-right: 2%;
        margin-bottom: 1%;
        width: 35%;
        border: black;
        border-style: solid;
    }
}
